body {
	text-align: center;
	background-color: black;
}

h1 {
	color: hotpink;
	font-size: 4.5em;
	margin: 0px;
	font-family: 'Calligraffitti', 'Crafty Girls', cursive;
}

p {
	margin: 0px;
}

img	{
	width: 100%;
}