body {
	font-family: Lato;
}

h1 {
	text-align: center;
	margin: 0px;
	font-family: 'Calligraffitti', 'Crafty Girls', cursive. 'Arial';

}

p {
/*	margin: 5px;*/
}

img {
	max-width: 100%;
	height: auto;
}