body {
	font-family: Lato;
	background-color: #9fa8d2;
}

h1 {
}

#title {
	color: blue;
	text-align: center;
	margin: 0px;
	font-family: 'Calligraffitti', 'Crafty Girls', cursive, 'Arial';
	font-size: 4em;
}

p {
/*	margin: 5px;*/
}

img {
	max-width: 50%;
	height: auto;
}